<div class="surface-display">
    <img class="page-background" ng-src="assets/img/customer/{{skin.customerFolder}}/background_approvephoto.jpg"/>

    <div class="centered-msg">Confirm Your Video:</div>

    <img class="approval-photo-cust" ng-src="{{a8Origin}}/media/download/{{p.id}}" img-loader ng-click=""/>

    <div class="pull-right">
        <button class="side-btn" ng-click="back()" style="color:darkgrey">Go Back</button>
        <br>
        <button class="side-btn" ng-click="reg()">E-Mail</button>
    </div>

</div>

